body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: column
}
.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
}
.chat-container {
    display: flex;
    width: 70vw;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    height: 90vh;
}

.sidebar {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #535b60;
    color: #fff;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.sidebar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar .header h2 {
    font-size: 1.8rem;
}

.users-list {
    flex: 1;
}

.nbr-msg {
    margin-left: 10px;
    color: #49caea;
}
.users-list h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.users-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    border-radius: 0 8px 8px 0;
}

.chat-header {
    background-color: #535b60;
    color: #fff;
    border-radius: 0 8px 0 0;
}

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-messages .message {
    margin-bottom: 15px;
    padding: 0;
    border-radius: 6px;
    /*! word-wrap: break-word; */
    width: fit-content;
}

.chat-messages .sender {
    background-color: #535b60;
    color: #fff;
    align-self: flex-end;
    /*! display: flex; */
}

.chat-messages .receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

#messageForm {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 0 0 8px 8px;
}

#messageForm input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 6px
}
.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;

}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
#messageForm button {
    background-color: #535b60;
    color: #fff;
    border-radius:6px;
    cursor: pointer;
    padding: 5px 15px;
}
.user-item.active {
    background-color: #d8e1ec;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.logout {
    text-decoration: none;
    color: #fff;
}

.logout:hover {
    text-decoration: underline;
}
.hidden{
    display: none;
}
.far{
    margin-right: 5px;
}
